---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Yorth21.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hey, soy yorth21 <Badge>Desarrollador web</Badge>
			</h1>
			<h2 class="text-xl opacity-80">
				+1 año de experiencia. De Nariño, Colombia, me especializo en crear aplicaciones únicas y funcionales.
			</h2>
	</section>
	</main>
</Layout>
