---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Yorth21.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hi, I'm Yorth! <Badge>Developer</Badge>
			</h1>
			<h2 class="text-xl opacity-80">
				I'm a passionate Full Stack Developer from Colombia 🇨🇴 with experience in modern web technologies.
			</h2>
	</section>
	</main>
</Layout>
