<header class="text-white flex justify-between items-center py-3 w-[1120px] mx-auto">
  <img
    class="rounded-full h-12 w-12" 
    src="https://avatars.githubusercontent.com/u/92270218?v=4"
    alt="yorth21"
  />

  <nav class="flex flex-row gap-10">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>